a {
    padding:10px;
    background:black;
    color:white;
    display: inline-block;
    text-decoration: none;
    transition:all 0.3s linear ;   /* Une tranasition : sur tout, temps, acceleration */
    transition: 0.3s; /* Juste le temps suffit  */
    transition:color 0.3s linear, padding 0.6s linear ; /* tranasition : couleur, temps, acceleration */
}

a:hover {
    background:red;
    padding:30px;
}

.coeur {
    position: relative;
    width:30px;
    HEIGHT:30px;
    cursor: pointer;
}
.coeur span {
    position: absolute;
    font-size:30px;
}

.coeur .un {
    opacity: 1;
    transition: 0.3s;
}

.coeur .deux {
    opacity: 0;
    transition: 0.3s;
    background: linear-gradient(180deg, rgba(14,237,40,1) 0%, rgba(52,71,236,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.coeur:hover .un {
    opacity: 0;
}

.coeur:hover .deux {
    opacity: 1;
}


.plat {
    width:600px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    display: flex;

}

.plat:hover .plat3 {
    width:50px;
}


.plat1 {
    flex:1;
    padding:20px
}
.plat2 {
    width: 30px;
    padding: 20px;
    text-align: center;
}
.plat3 {
    width:0px;
    text-align: center;
    background-color: red;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    transition: 0.3s;
    overflow: hidden;
    font-size:20px;

}

.plat:hover .plat3 span {
    animation:1s 0.5s 1 both elie;  /* Animation: durée, délai avant demarrage, repetition, both, nom anim   */
}

h3 {
    
}


@keyframes elie {
    from { transform: rotate(0deg); font-size: 5px;}
    to { transform: rotate(360deg); font-size: 45px; }
}
@keyframes elie {
    0% { transform: rotate(0deg); font-size: 5px;}
    80% { }
    100% { transform: rotate(360deg); font-size: 45px; }
}







